In [11]:
%pip install mysql-connector-python

428.98s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Using cached mysql_connector_python-8.3.0-cp311-cp311-manylinux_2_17_x86_64.whl.metadata (1.9 kB)
Using cached mysql_connector_python-8.3.0-cp311-cp311-manylinux_2_17_x86_64.whl (21.5 MB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector

In [2]:
con = mysql.connector.connect(
            user='root', password='root', port="3306", host = 'localhost', database='db')

In [3]:
cursor = con.cursor()
cursor.execute('Select * FROM cadastro')
cadastro = cursor.fetchall()

In [4]:
cadastro

[(1,
  'female',
  'Miss',
  'Victoria',
  'Lambert',
  'Gloucester',
  'Rutland',
  'United Kingdom',
  'victoria.lambert@example.com',
  datetime.date(1965, 6, 20),
  datetime.datetime(2024, 3, 16, 0, 0)),
 (2,
  'male',
  'mr',
  'vincent',
  'singh',
  'hastings',
  'bay of plenty',
  'new zealand',
  'vincentsinghexamplecom',
  datetime.date(1968, 9, 15),
  datetime.datetime(2024, 4, 17, 16, 58, 17)),
 (3,
  'male',
  'mr',
  'vicente',
  'guajardo',
  'nuevo balsas',
  'estado de mexico',
  'mexico',
  'vicenteguajardoexamplecom',
  datetime.date(1984, 2, 25),
  datetime.datetime(2024, 4, 17, 16, 58, 17)),
 (4,
  'male',
  'mr',
  'domingo',
  'medina',
  'crdoba',
  'extremadura',
  'spain',
  'domingomedinaexamplecom',
  datetime.date(1949, 10, 21),
  datetime.datetime(2024, 4, 17, 16, 58, 17)),
 (5,
  'female',
  'miss',
  'freya',
  'martin',
  'palmerston north',
  'gisborne',
  'new zealand',
  'freyamartinexamplecom',
  datetime.date(1993, 9, 7),
  datetime.datetime(2024, 4, 17, 16, 58, 17)),
 (6,
  'female',
  'mrs',
  'caitlin',
  'wright',
  'whanganui',
  'tasman',
  'new zealand',
  'caitlinwrightexamplecom',
  datetime.date(1997, 5, 7),
  datetime.datetime(2024, 4, 17, 16, 58, 17)),
 (7,
  'female',
  'mrs',
  'ashley',
  'wade',
  'carlow',
  'donegal',
  'ireland',
  'ashleywadeexamplecom',
  datetime.date(1982, 4, 6),
  datetime.datetime(2024, 4, 17, 16, 58, 17)),
 (8,
  'female',
  'ms',
  'alexis',
  'payne',
  'oakland',
  'florida',
  'united states',
  'alexispayneexamplecom',
  datetime.date(1956, 9, 19),
  datetime.datetime(2024, 4, 17, 16, 58, 17)),
 (9,
  'female',
  'mrs',
  'yeni',
  'cuellar',
  'unin de guadalupe',
  'michoacan',
  'mexico',
  'yenicuellarexamplecom',
  datetime.date(1993, 3, 29),
  datetime.datetime(2024, 4, 17, 16, 58, 17)),
 (10,
  'female',
  'mrs',
  'christina',
  'brenden',
  'kjrnes',
  'oppland',
  'norway',
  'christinabrendenexamplecom',
  datetime.date(1989, 3, 23),
  datetime.datetime(2024, 4, 17, 16, 58, 17)),
 (11,
  'female',
  'ms',
  'kthe',
  'grebe',
  'altentreptow',
  'brandenburg',
  'germany',
  'kathegrebeexamplecom',
  datetime.date(1961, 11, 29),
  datetime.datetime(2024, 4, 17, 16, 58, 17))]